@model DASS.Models.ResultViewModel
@{ViewData["Title"] = "Result";}

<h1>Diagnosis Result</h1>

<div>
    <hr />
    <dl class="row p-3">
        <dt class="col-sm-2">
            Mức độ trầm cảm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepressionLevel)
        </dd>
        <dt class="col-sm-2">
            Mức độ lo âu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnxietyLevel)
        </dd>
        <dt class="col-sm-2">
            Mức độ căng thẳng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StressLevel)
        </dd>
    </dl>
</div>

<div>Kết quả chỉ mang tính tham khảo, hãy gặp chuyên gia tâm lý khi cần thiết.</div>

<div>
    @Html.ActionLink("Làm lại khảo sát", "Index")
</div>